<div class="mb-3" *ngIf="topicId">
  <div class="card shadow-sm">
    <div class="card-header text-center text-white">
      <h3>Search Schedule</h3>
    </div>
    <div class="card-body">
      <form>
        <div class="form-row d-flex g-2">
          <!-- <div class="form-group col-3 mx-3">
              <label for="class">Class</label><br>
              <input class="w-75" type="text" placeholder="{{ classId }}" readonly>
            </div> -->

          <!-- <div class="form-group col-3 mx-3">
              <label for="subject">Subject</label><br>
              <input class="w-75" type="text" placeholder="{{ subjectId }}" readonly>
            </div> -->

          <!-- <div class="form-group col-3 mx-3">
              <label for="chapter">Chapter</label><br>
              <input class="w-100" type="text" placeholder="{{ chapterId }}" readonly>

            </div> -->
        </div>

        <div class="form-row d-flex g-2 mt-3">
          <div class="form-group col-3 mx-3">
            <label for="topic">Topic</label><br />
            <input
              class="w-100"
              type="text"
              placeholder="{{ topicName }}"
              readonly
            />
          </div>

          <div class="form-group col-3 mx-3">
            <label for="startTime">Start Time</label>
            <input
              type="time"
              class="form-control"
              id="startTime"
              name="startTime"
              [(ngModel)]="searchForm.start_time"
            />
          </div>

          <div class="form-group col-3 mx-3">
            <label for="startTime">Topic Price</label>
            <input
              type="text"
              disabled
              class="form-control"
              id="startTime"
              name="price"
              [(ngModel)]="topicprice"
            />
          </div>

          <div class="form-group col-3 mx-3">
            <label for="endTime">Duration</label>
            <select
              class="form-control"
              id="duration"
              name="duration"
              [(ngModel)]="searchForm.duration"
            >
              <option value="15">15 minutes</option>
              <option value="30">30 minutes</option>
              <option value="45">45 minutes</option>
              <option value="60">1 hour</option>
              <option value="75">1 hour 15 minutes</option>
              <option value="90">1 hour 30 minutes</option>
              <option value="105">1 hour 45 minutes</option>
              <option value="120">2 hours</option>
            </select>
          </div>
          <div class="form-group col-3 mx-3">
            <label for="date">Date</label>
            <input
              type="date"
              class="form-control"
              id="scheduleDate"
              name="scheduleDate"
              [(ngModel)]="searchForm.scheduleDate"
              [min]="minDate"
            />
          </div>
          <div class="form-row text-center">
            <div class="col">
              <br />
              <button
                type="button"
                class="btn btn-success mx-3 px-5 mt-2"
                (click)="search()"
              >
                Post
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3 class="mb-4">List of Schedule Requests</h3>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Class</th>
          <th>Subject</th>
          <th>Chapter</th>
          <th>Topic</th>
          <th>Acceptance Status</th>
          <th>Schedule Date</th>
          <th>Start Time</th>
          <th>Duration (mins)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Row for each schedule request -->
        <tr *ngFor="let scheduledClass of data">
          <td>
            <img
              [src]="'/api/files/download/' + scheduledClass.class.image"
              alt="Class Image"
              style="
                width: 40px;
                height: 40px;
                object-fit: cover;
                margin-right: 10px;
                border-radius: 50%;
              "
            />
            {{ scheduledClass.class.name }}
          </td>
          <td>
            <img
              [src]="'/api/files/download/' + scheduledClass.subject.image"
              alt="Subject Image"
              style="
                width: 40px;
                height: 40px;
                object-fit: cover;
                margin-right: 10px;
                border-radius: 50%;
              "
            />
            {{ scheduledClass.subject.name }}
          </td>
          <td>
            <img
              [src]="'/api/files/download/' + scheduledClass.chapter.image"
              alt="Chapter Image"
              style="
                width: 40px;
                height: 40px;
                object-fit: cover;
                margin-right: 10px;
                border-radius: 50%;
              "
            />
            {{ scheduledClass.chapter.name }}
          </td>
          <td>
            <img
              [src]="'/api/files/download/' + scheduledClass.topic.image"
              alt="Topic Image"
              style="
                width: 40px;
                height: 40px;
                object-fit: cover;
                margin-right: 10px;
                border-radius: 50%;
              "
            />
            {{ scheduledClass.topic.name }}
          </td>
          <td>
            <span
              *ngIf="scheduledClass.acceptanceStatus === 'pending'"
              class="w-100 badge bg-warning text-dark"
            >
              {{ scheduledClass.acceptanceStatus | titlecase }}
            </span>
            <span
              *ngIf="scheduledClass.acceptanceStatus === 'accepted'"
              class="w-100 badge bg-success text-white"
            >
              {{ scheduledClass.acceptanceStatus | titlecase }}
            </span>
            <span
              *ngIf="scheduledClass.acceptanceStatus === 'rejected'"
              class="w-100 badge bg-danger text-white"
            >
              {{ scheduledClass.acceptanceStatus | titlecase }}
            </span>
            <br />
            <!-- if accepted show join meeting room -->
             <button
            *ngIf="scheduledClass.acceptanceStatus === 'accepted'"
            class="btn btn-sm w-100 btn-primary"
            (click)="joinMeetingRoom(scheduledClass)"
          >
            Join Meeting Room
          </button>
          </td>

          <td>{{ scheduledClass.scheduleDate | date : "yyyy-MM-dd" }}</td>
          <td>{{ scheduledClass.startTime }}</td>
          <td>{{ scheduledClass.duration }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class="container">
    <div class="card shadow-sm">
      <div class="card-header text-center bg-primary text-white">
        <h3>{{ topicName }}</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-8">
            <p><strong>Description:</strong> {{ topicDescription }}</p>
            <p><strong>Summary:</strong> {{ topicSummary }}</p>
            <p><strong>Class ID:</strong> {{ classId }}</p>
            <p><strong>Subject ID:</strong> {{ subjectId }}</p>
            <p><strong>Chapter ID:</strong> {{ chapterId }}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div id="zmmtg-root"></div>

