<div class="container mt-4">
  <h1>Chapter Content</h1>
  <div class="d-flex align-items-center justify-content-between">
    <h4>{{ filteredChapters.length }} Sections • Total lectures • Total duration</h4>
    <!-- <button style="color:rgb(21, 9, 151)" class="btn fs-5">Expand all sections</button> -->
  </div>

  <div *ngFor="let chapter of filteredChapters; let i = index" class="card mb-2"
    style="background-color: #F7F9FA; color: black;">
    <div class="card-header d-flex justify-content-between align-items-center" (click)="toggleOpen(i, chapter._id)"
      style="cursor: pointer; background-color: #F7F9FA; color: black; border-bottom:1px solid rgb(143, 138, 138);">
      <div>
        <i class="fas" [ngClass]="{'ri-arrow-down-s-line': !isOpen[i], 'ri-arrow-up-s-line': isOpen[i]}"></i>
        <span class="fw-bold">{{ chapter.name }}</span>
      </div>
      <span class="text-muted">{{ (topics[chapter._id] || []).length }} lectures • {{ chapter.duration }}</span>
    </div>

    <div class="card-body" *ngIf="isOpen[i]" style="background-color: #F7F9FA; color: black;">
      <ol *ngIf="isOpen[i]" type="a" class="list-group list-group-flush">
        <li *ngFor="let topic of topics[chapter._id] || []"
          class="list-group-item d-flex align-items-center justify-content-between"
          style="background-color: #F7F9FA; color: black;">
          <button class="btn btn-link p-0 text-body text-decoration-none fs-5">{{ topic.name }}</button>
          <div class="d-flex align-items-center justify-content-between">
            <span class="text-muted small mr-5">{{ topic.duration }} 13:54 min</span>
            <button class="btn btn-sm btn-outline-primary" (click)="goToSechdulePage(topic._id)">Book Now</button>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
